:root {
  /* colors */
  --primary-neutral-0: rgb(255 255 255 / 100%);
  --primary-neutral-50: rgb(244 243 243 / 100%);
  --primary-neutral-100: rgb(232 231 231 / 100%);
  --primary-neutral-150: rgb(221 219 219 / 100%);
  --primary-neutral-200: rgb(210 207 207 / 100%);
  --primary-neutral-250: rgb(187 183 183 / 100%);
  --primary-neutral-300: rgb(165 159 159 / 100%);
  --primary-neutral-400: rgb(142 135 135 / 100%);
  --primary-neutral-500: rgb(114 108 108 / 100%);
  --primary-neutral-600: rgb(85 81 81 / 100%);
  --primary-neutral-700: rgb(57 54 54 / 100%);
  --primary-neutral-800: rgb(43 41 41 / 100%);
  --primary-neutral-900: rgb(28 27 27 / 100%);

  /* text colors */
  --text-primary: #1f1f1f;
  --text-secondary: #707070;
  --text-muted: #999;
  --text-white: #fff;

  /* background colors */
  --background-primary: #fff;
  --background-dark: #1f1f1f;
  --background-secondary: #999;
  --background-dark-64: rgb(31 31 31 / 64%);
  --background-dark-48: rgb(31 31 31 / 48%);
  --background-dark-32: rgb(31 31 31 / 32%);
  --background-dark-16: rgb(31 31 31 / 16%);
  --background-dark-8: rgb(31 31 31 / 8%);

  /* border colors */
  --border-color: #ddd;
  --border-color-light: #e0e0e0;
  --border-color-dark: #000;

  /* animation settings and shadow colors */
  --transition-duration: 0.3s;
  --transition-timing: ease-in-out;
  --box-shadow-default: 0 2px 4px rgb(0 0 0 / 10%);

  /* fonts */
  --font-size-small: 12px;
  --font-size-base: 16px;
  --font-size-large: 24px;
  --line-height-small: 1.4;
  --line-height-base: 1.5;
  --line-height-large: 1.8;
  --font-family-primary: 'Lora', serif;

  /* border-radius */
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px;

  /* z-indexes */
  --z-index-auto: auto;
  --z-index-0: 0;
  --z-index-1: 10;
  --z-index-2: 20;
  --z-index-3: 30;
  --z-index-4: 40;
  --z-index-5: 50;
  --z-index-6: 60;
  --z-index-7: 70;
  --z-index-8: 80;
  --z-index-9: 90;
  --z-index-10: 100;
  --z-index-modal: 1000;
  --z-index-tooltip: 1100;
  --z-index-overlay: 1200;
  --z-index-toast: 1300;
  --z-index-popover: 1400;
  --z-index-dropdown: 1500;
}
