/* .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: var(--primary-neutral-600);
    border-bottom: 1px solid white;
  }
   */